@model Sistema_Planilla_CE.ConceptoCE

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Editar</h2>

<form id="frmConcepto" action="@Url.Action("Editar", "Concepto")" method="post">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ConceptoCE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Concepto)
        @Html.HiddenFor(model => model.Id_TipoConcepto)
        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            <label class="control-label col-md-2">Planilla que Impacta</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Detalle_ImpactaPlanilla" name="Detalle_ImpactaPlanilla"
                       value="@Model.Detalle_ImpactaPlanilla" disabled />
                @*@Html.EditorFor(model => model.Detalle_ImpactaPlanilla, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Detalle_ImpactaPlanilla, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tipo de Concepto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Detalle_TipoConcepto" name="Detalle_TipoConcepto"
                       value="@Model.Detalle_TipoConcepto" disabled />

                @Html.ValidationMessageFor(model => model.Detalle_TipoConcepto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Clase de Concepto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Detalle_ClaseConcepto" name="Detalle_ClaseConcepto"
                       value="@Model.Detalle_ClaseConcepto" disabled />

                @Html.ValidationMessageFor(model => model.Detalle_ClaseConcepto, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">Nombre del Concepto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Nombre_Concepto" name="Nombre_Concepto"
                       value="@Model.Nombre_Concepto" disabled />
                @Html.ValidationMessageFor(model => model.Nombre_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Destino del Concepto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Nombre_DestinatarioConcepto" name="Nombre_DestinatarioConcepto"
                       value="@Model.Nombre_DestinatarioConcepto" disabled />
                @Html.ValidationMessageFor(model => model.Nombre_DestinatarioConcepto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Monto del Concepto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="MontoFijo_Concepto" name="MontoFijo_Concepto"
                       value="@Model.MontoFijo_Concepto" placeholder="Ingrese un Monto en colones" />
                @Html.ValidationMessageFor(model => model.MontoFijo_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Editable_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Editable_Concepto)
                    @Html.ValidationMessageFor(model => model.Editable_Concepto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_TipoConcepto_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_TipoConcepto_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_TipoConcepto_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_DestinatarioConcepto_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_DestinatarioConcepto_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_DestinatarioConcepto_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_ImpactaPlanilla_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_ImpactaPlanilla_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_ImpactaPlanilla_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_ClaseConcepto_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_ClaseConcepto_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_ClaseConcepto_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Porcentaje_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Porcentaje_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Porcentaje_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.DirectoPlanilla_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DirectoPlanilla_Concepto)
                    @Html.ValidationMessageFor(model => model.DirectoPlanilla_Concepto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FactorTiempo_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FactorTiempo_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FactorTiempo_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_TipoConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_TipoConcepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_TipoConcepto, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_DestinatarioConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_DestinatarioConcepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_DestinatarioConcepto, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_ImpactaPlanilla, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_ImpactaPlanilla, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_ImpactaPlanilla, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_ClaseConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_ClaseConcepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_ClaseConcepto, "", new { @class = "text-danger" })
            </div>
        </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#frmConcepto").submit(function (event) {
            event.preventDefault(); //prevent default action
            var dptoId = $("#MontoFijo_Concepto").val();
            if (dptoId == "") {
                alert("Debe ingresar un Monto");
                return;
            }
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serializeArray(); //Encode form elements for submission
            console.log(form_data);

            LoadingOverlayShow("#frmConcepto");
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);
                LoadingOverlayHide("#frmConcepto");
                if (response.ok) {
                    alert("Concepto editado correctamente.");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmConcepto");
            });
        });

    </script>
}

