@model Sistema_Planilla_CE.ConceptoAplicadoCE

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section styles{

    <style>
        .tituloCss {
            color: #3d3d29;
        }
    </style>

}

<h2 class="tituloCss">Agregar Concepto a Empleado</h2>

<form action="@Url.Action("Crear", "ConceptoAplicado")" method="post" id="frmConceptoAplicado">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agregar Concepto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_ConceptoAplicado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Cantidad_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad_ConceptoAplicado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            <label class="control-label col-md-2"> Nombre del Empleado</label>
            <div class="col-md-10">
                <select class="form-control" id="Id_Persona" name="Id_Persona">
                    <option value="">Seleccione...</option>
                </select>
                @Html.ValidationMessageFor(model => model.Id_Persona, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Clase de Concepto</label>
            <div class="col-md-10">
                <select class="form-control" id="Id_ClaseConcepto" name="Id_ClaseConcepto">
                    <option value="">Seleccione...</option>
                </select>
                @Html.ValidationMessageFor(model => model.Id_ClaseConcepto, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">Concepto</label>
            <div class="col-md-10">
                <select class="form-control" id="Id_Concepto" name="Id_Concepto">
                    <option value="">Seleccione...</option>
                </select>
                @Html.ValidationMessageFor(model => model.Id_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Monto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Monto_ConceptoAplicado" name="Monto_ConceptoAplicado" placeholder="Ingrese un Monto para este Concepto " />
                @Html.ValidationMessageFor(model => model.Monto_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <input type="hidden" class="form-control" id="Id_TipoConcepto" name="Id_TipoConcepto" value="2" />
                @Html.ValidationMessageFor(model => model.Id_TipoConcepto, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_PeriodoDePago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_PeriodoDePago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_PeriodoDePago, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_Empleado_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_Empleado_ConceptoAplicado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_Empleado_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_Concepto_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_Concepto_ConceptoAplicado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_Concepto_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_PeriodoDePago_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_PeriodoDePago_ConceptoAplicado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_PeriodoDePago_ConceptoAplicado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Procesado_ConceptoAplicado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Procesado_ConceptoAplicado)
                    @Html.ValidationMessageFor(model => model.Procesado_ConceptoAplicado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_Empleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_Persona_Empleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_Persona_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_Persona_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.NombreCompleto_Persona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreCompleto_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreCompleto_Persona, "", new { @class = "text-danger" })
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.Nombre_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Editable_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Editable_Concepto)
                    @Html.ValidationMessageFor(model => model.Editable_Concepto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@



        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_DestinatarioConcepto_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_DestinatarioConcepto_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_DestinatarioConcepto_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_ImpactaPlanilla_Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_ImpactaPlanilla_Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_ImpactaPlanilla_Concepto, "", new { @class = "text-danger" })
            </div>
        </div>*@





        @*<div class="form-group">
            @Html.LabelFor(model => model.Periodo_PeriododDePago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Periodo_PeriododDePago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Periodo_PeriododDePago, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SalarioBruto_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalarioBruto_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalarioBruto_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FechaInicio_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicio_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FechaFin_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFin_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaFin_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_TipoContrato_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_TipoContrato_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_TipoContrato_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_Empleado_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_Empleado_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_Empleado_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Activo_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo_Contrato)
                    @Html.ValidationMessageFor(model => model.Activo_Contrato, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SalarioBrutoPorDia_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalarioBrutoPorDia_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalarioBrutoPorDia_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SalarioBrutoPorHora_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalarioBrutoPorHora_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalarioBrutoPorHora_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SalarioBrutoQuincenal_Contrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalarioBrutoQuincenal_Contrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalarioBrutoQuincenal_Contrato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_ClaseConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_ClaseConcepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_ClaseConcepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Detalle_ClaseConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle_ClaseConcepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalle_ClaseConcepto, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        ListarEmpleadosContratoVigente();
        ListarClaseConceptos();
        //ListarTipoConceptos();


        $("#Id_ClaseConcepto").on("change", function () {

            GetConceptos($(this).val());
        })

        function ListarEmpleadosContratoVigente(myCallback) {
            $.ajax({
                type: "GET",
                url: '/empleado/ListarEmpleadosContratoVigente',
                dataType: "json",
                success: function (result) {
                    $.each(result.data, function (key, item) {
                        $("#Id_Persona").append('<option value=' + item.Id_Persona + '>' + item.NombreCompletoPersona + '</option>');
                    });

                    if (myCallback !== undefined)
                        return myCallback(result.data);
                },
                error: function (data) {
                    alert('error');
                }
            });
        }

        function ListarClaseConceptos(myCallback) {
            $.ajax({
                type: "GET",
                url: '/ClaseConcepto/ListarClaseConceptos',
                dataType: "json",
                success: function (result) {
                    $.each(result.data, function (key, item) {
                        $("#Id_ClaseConcepto").append('<option value=' + item.Id_ClaseConcepto + '>' + item.Detalle_ClaseConcepto + '</option>');
                    });

                    if (myCallback !== undefined)
                        return myCallback(result.data);
                },
                error: function (data) {
                    alert('error');
                }
            });
        }


        function GetConceptos(val) {

            if (val == "") {
                //alert("Debe escoger un Provincia");
                $("#Id_Concepto").empty();
                var newOption = $('<option value="">Seleccione...</option>');
                $('#Id_Concepto').append(newOption);
                return;
            }


            $.ajax({
                type: "GET",
                url: '/concepto/getconceptos',
                dataType: "json",
                data: { Id_ClaseConcepto: val, Id_TipoConcepto : 2 },
                success: function (result) {
                    $("#Id_Concepto").html("");
                    $.each(result.data, function (key, item) {
                        $("#Id_Concepto").append('<option value=' + item.Id_Concepto + '>' + item.Nombre_Concepto + '</option>');
                    });
                },
                error: function (data) {
                    alert('error');
                }
            });
        }


        //function ListarTipoConceptos(myCallback) {
        //    $.ajax({
        //        type: "GET",
        //        url: '/TipoConcepto/ListarTipoConceptos',
        //        dataType: "json",
        //        success: function (result) {
        //            $.each(result.data, function (key, item) {
        //                $("#Id_TipoConcepto").append('<option value=' + item.Id_TipoConcepto + '>' + item.Detalle_TipoConcepto + '</option>');
        //            });

        //            if (myCallback !== undefined)
        //                return myCallback(result.data);
        //        },
        //        error: function (data) {
        //            alert('error');
        //        }
        //    });
        //}


        

        $("#frmConceptoAplicado").submit(function (event) {
            event.preventDefault(); //prevent default action
            //var dptoId = $("#Id_Distrito").val();
            //if (dptoId == "") {
            //    alert("Debe escoger un Distrito");
            //    return;
            //}

            //var usuarioId = $("#Id_Usuario").val();
            //if (usuarioId == "") {
            //    alert("Debe escoger un usuario");
            //    return;
            //}
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serializeArray(); //Encode form elements for submission
            console.log(form_data);
            LoadingOverlayShow("#frmConceptoAplicado");
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);
                LoadingOverlayHide("#frmConceptoAplicado");
                if (response.ok) {
                    alert("Concepto creado correctamente.");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmConceptoAplicado");
            });
        });

    </script>
}