@model IEnumerable<Sistema_Planilla_CE.EmpleadoCE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section styles{

    <style>
        .tituloCss {
            color: #3d3d29;
        }
    </style>


}

<h2 class="tituloCss">Lista de Empleados</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("Crear", "Empleado")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>
<table class="table" id="tablaEmpleado">
    <thead>
        <tr>
            <th>
                    Número de Empleado
                </th>
            <th>
                    Cargo
                </th>
                <th>
                    Tipo de Contrato
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.FKId_Departamento_Empleado)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Usuario)
                </th>*@
            @*<th>
                Nombre de Usuario
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Departamento)
                </th>*@
            <th>
                Departamento
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Persona)
                </th>*@
            <th>
                Nombre Completo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Id_Empleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle_TipoContrato)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.FKId_Departamento_Empleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Usuario)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id_Departamento)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Departamento)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id_Persona)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompletoPersona)
                </td>
                <td>
                    <a class="btn btn-info btn-xm" title="Detalle" href="@Url.Action("DetallesEmpleado", "Empleado",new { id_empleado=item.Id_Empleado})"><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-success" title="Editar" href="@Url.Action("Editar", "Empleado",new { id=item.Id_Empleado })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-danger" onclick="EliminarEmpleado(@item.Id_Persona,@item.Id_Empleado,'@item.Id_Usuario')" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>

        }
    </tbody>
</table>

@section scripts {

    <script>

        $('#tablaEmpleado').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
            language: {
                search: "Buscar en tabla: ",
                lengthMenu: "Mostrar  _MENU_  entradas",
                info: "Mostrando de la entrada _START_ a la _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando de la entrada 0 a la 0 de 0  entradas",
                infoFiltered: "(filtrando de  _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Agregando entradas",
                zeroRecords: "No existen entradas disponibles para esta búsqueda",
                emptyTable: "No existe data disponible para esta tabla",

                paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                }
            }

        });



        function EliminarEmpleado(id_persona, id_empleado, id_usuario) {
            $.confirm({
                title: 'Eliminar Empleado',
                content: '¿Desea Eliminar el Empleado?',
                buttons: {
                    Eliminar: function () {
                        LoadingOverlayShow("#tablaEmpleado");
                        $.ajax({
                            url: "/Empleado/Eliminar",
                            type: "post",
                            data: { id_persona: id_persona, id_empleado: id_empleado, id_usuario: id_usuario}
                        }).done(function (response) {
                            console.log(response);//
                            LoadingOverlayHide("#tablaEmpleado");
                            if (response.ok) {
                                alert("Empleado eliminado correctamente.");
                                window.location = response.toRedirect;
                            }
                            else {
                                alert(response.msg);
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            LoadingOverlayHide("#tablaEmpleado");
                            alert(textStatus);
                        });
                    },
                    Cancelar: function () {
                        //$.alert('Canceled!');
                    },
                }
            });
        }

    </script>
}