@model IEnumerable<Sistema_Planilla_CE.Curso>

@{
    ViewBag.Title = "Index";
}

@section styles{

    <style>
        .tituloCss {
            color: #3d3d29;
        }
    </style>


}

<h2 class="tituloCss">Lista de Cursos</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("Crear", "Curso")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table" id="tablaCurso">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Curso)
                </th>*@
            <th>
                Nombre del Curso
                @*@Html.DisplayNameFor(model => model.Nombre_Curso)*@
            </th>
            <th>
                Fecha de Actualización
                @*@Html.DisplayNameFor(model => model.FechaActualizacion_Curso)*@
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id_Curso)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaActualizacion_Curso)
                </td>
                <td>
                    <a class="btn btn-success" title="Editar" href="@Url.Action("Editar", "Curso",new { id=item.Id_Curso  })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-danger" onclick="EliminarCurso(@item.Id_Curso)" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </tbody>

</table>

@section scripts {

    <script>

        $('#tablaCurso').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
            language: {
                search: "Buscar en tabla: ",
                lengthMenu: "Mostrar  _MENU_  entradas",
                info: "Mostrando de la entrada _START_ a la _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando de la entrada 0 a la 0 de 0  entradas",
                infoFiltered: "(filtrando de  _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Agregando entradas",
                zeroRecords: "No existen entradas disponibles para esta búsqueda",
                emptyTable: "No existe data disponible para esta tabla",

                paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                }
            }

        });



        function EliminarCurso(id) {
            $.confirm({
                title: 'Eliminar Curso',
                content: '¿Desea Eliminar el Curso?',
                buttons: {
                    Eliminar: function () {
                        LoadingOverlayShow("#tablaCurso");
                        $.ajax({
                            url: "/Curso/Eliminar",
                            type: "post",
                            data: { identificador: id }
                        }).done(function (response) {
                            console.log(response);//
                            LoadingOverlayHide("#tablaCurso");
                            if (response.ok) {
                                alert("Curso eliminado correctamente.");
                                window.location = response.toRedirect;
                            }
                            else {
                                alert(response.msg);
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            LoadingOverlayHide("#tablaCurso");
                            alert(textStatus);
                        });
                    },
                    Cancelar: function () {
                        //$.alert('Canceled!');
                    },
                }
            });
        }

    </script>
}