@model IEnumerable<Sistema_Planilla_CE.PersonaCE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@section styles{

    <style>
        .tituloCss {
            color: #3d3d29;
        }
    </style>


}

<h2 class="tituloCss">Lista de Personas</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("Crear", "Persona")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>

<table class="table" id="tablaPersona">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Persona)
                </th>*@
            <th>
                Número de Identificación
            </th>
            <th>
                Nombre Completo
            </th>
            @*<th>
                    Primer Apellido
                </th>
                <th>
                    segundo Apellido
                </th>*@
            <th>
                Fecha de Nacimiento
            </th>

            @*<th>
                    Dirección Física
                </th>*@
            @*<th>
                Email
            </th>*@

            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id_Persona)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroIdentidad_Persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto_Persona)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Apellido1_Persona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2_Persona)
                    </td>*@
                <td>
                    @item.FechaNacimiento_Persona.ToShortDateString()
                    @*@Html.DisplayFor(modelItem => item.FechaNacimiento_Persona.ToShortDateString())*@
                </td>


                @*<td>

                        @Html.DisplayFor(modelItem => item.DetalleCompleto_Direccion)
                    </td>*@

                @*<td>
                    @Html.DisplayFor(modelItem => item.Correo_Email)
                </td>*@
                <td>
                    <a class="btn btn-default btn-xm" title="Telefonos" href="@Url.Action("Add", "FotoPersona",new { Id_Persona=item.Id_Persona, Nombre_Persona = item.Nombre_Persona, Apellido1_Persona = item.Apellido1_Persona, Apellido2_Persona = item.Apellido2_Persona })"><i class="glyphicon glyphicon-camera"></i></a>
                    <a class="btn btn-primary btn-xm" title="Telefonos" href="@Url.Action("ObtenerListaTelefonosPersona", "Telefono",new { Id_Persona=item.Id_Persona, Nombre_Persona = item.Nombre_Persona, Apellido1_Persona = item.Apellido1_Persona, Apellido2_Persona = item.Apellido2_Persona })"><i class="glyphicon glyphicon-earphone"></i></a>
                    <a class="btn btn-warning btn-xm" title="Correos" href="@Url.Action("ObtenerListaCorreosPersona", "Email",new { Id_Persona=item.Id_Persona, Nombre_Persona = item.Nombre_Persona, Apellido1_Persona = item.Apellido1_Persona, Apellido2_Persona = item.Apellido2_Persona })"><i class="glyphicon glyphicon-envelope"></i></a>
                    @*<a class="btn btn-primary btn-xm" onclick="AgregaroListarTelefonos(@item.Id_Persona)" title="Telefonos"><i class="glyphicon glyphicon-earphone"></i></a>*@
                    <a class="btn btn-info btn-xm" title="Detalle" href="@Url.Action("DetallesPersona", "Persona",new { id_persona=item.Id_Persona})"><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-success btn-xm" title="Editar" href="@Url.Action("Editar", "Persona",new { id=item.Id_Persona  })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-danger btn-xm" onclick="EliminarPersona(@item.Id_Persona,'@item.FKId_Usuario_Persona')" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>

                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>

        $('#tablaPersona').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
            language: {
                search: "Buscar en tabla: ",
                lengthMenu: "Mostrar  _MENU_  entradas",
                info: "Mostrando de la entrada _START_ a la _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando de la entrada 0 a la 0 de 0  entradas",
                infoFiltered: "(filtrando de  _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Agregando entradas",
                zeroRecords: "No existen entradas disponibles para esta búsqueda",
                emptyTable: "No existe data disponible para esta tabla",

                paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                }
            }

        });



        function EliminarPersona(idpersona, idusario) {
            $.confirm({
                title: 'Eliminar Persona',
                content: '¿Desea Eliminar esta Persona?',
                buttons: {
                    Eliminar: function () {
                        LoadingOverlayShow("#tablaPersona");
                        $.ajax({
                            url: "/persona/eliminarpersona",
                            type: "post",
                            data: { id_persona: idpersona, id_usuario: idusario}
                        }).done(function (response) {
                            console.log(response);//
                            LoadingOverlayHide("#tablaPersona");
                            if (response.ok) {
                                alert("Persona eliminada correctamente.");
                                window.location = response.toRedirect;
                            }
                            else {
                                alert(response.msg);
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            LoadingOverlayHide("#tablaPersona");
                            alert(textStatus);
                        });
                    },
                    Cancelar: function () {
                        //$.alert('Canceled!');
                    },
                }
            });
        }

        //function AgregaroListarTelefonos(idpersona) {

        //    var post_url = $(this).attr("action"); //get form action url
        //    var request_method = $(this).attr("method"); //get form GET/POST method
        //    var form_data = $(this).serializeArray(); //Encode form elements for submission

        //    $.confirm({
        //        title: 'Gestión Teléfonos',
        //        content: '¿Desea Agregar un Teléfono  o Listar los Teléfonos?',
        //        buttons: {
        //            Listar: function () {
        //                LoadingOverlayShow("#tablaPersona");
        //                $.ajax({
        //                    url: "/telefono/obtenerlistatelefonospersona",
        //                    type: "get",
        //                    data: { Id_Persona: idpersona}
        //                }).done(function (response) {
        //                    console.log(response);//
        //                    LoadingOverlayHide("#tablaPersona");
        //                    if (response.ok) {
        //                        //alert("Persona eliminada correctamente.");
        //                        window.location = response.toRedirect;
        //                    }
        //                    else {
        //                        alert(response.msg);
        //                    }
        //                }).fail(function (jqXHR, textStatus, errorThrown) {
        //                    LoadingOverlayHide("#tablaPersona");
        //                    alert(textStatus);
        //                });
        //            },
        //            Agregar: function () {
        //                //$.alert('Canceled!');
        //            },
        //        }
        //    });


        //}

        //function ObtenerListaTelefonos(idpersona) {

        //    event.preventDefault(); //prevent default action
        //    var post_url = $(this).attr("action"); //get form action url
        //    var request_method = $(this).attr("method"); //get form GET/POST method
        //    var form_data = $(this).serializeArray(); //Encode form elements for submission
        //    console.log(form_data);

        //    $.ajax({
        //        url: "/telefono/ObtenerListaTelefonosPersona",
        //        type: "post",
        //        data: { id_persona: idpersona }
        //    }).done(function (response) {
        //        console.log(response);//
        //        if (response.ok) {
        //            alert("Persona eliminada correctamente.");
        //            window.location = response.toRedirect;
        //        }
        //        else {
        //            alert(response.msg);
        //        }
        //    }).fail(function (jqXHR, textStatus, errorThrown) {
        //        alert(textStatus);
        //    });

        //}




    </script>


}
