@model Sistema_Planilla_CE.TelefonoCE

@{
    ViewBag.Title = "Crear2";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Crear2</h2>

<form action="@Url.Action("Crear", "Telefono")" method="post" id="frmTelefono">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agregar un Teléfono para esta Persona</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Persona)
        @*<div class="form-group">

            @Html.LabelFor(model => model.Id_Persona, htmlAttributes: new { @class = "control-label col-md-2" })
            <label class="control-label col-md-2" id="Id_Persona" name="Id_Persona" value ="Id_Persona"></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Persona, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Nombre_Persona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Persona, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido1_Persona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido1_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido1_Persona, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido2_Persona, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido2_Persona, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido2_Persona, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Id_Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Telefono, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Número Telefónico</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Numero_Telefono" name="Numero_Telefono" placeholder="Ingrese un Número Telefónico " />
                @Html.ValidationMessageFor(model => model.Numero_Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.FKId_Persona_Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FKId_Persona_Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FKId_Persona_Telefono, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Regresar a Lista de Personas", "Index", "Persona")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#frmTelefono").submit(function (event) {
            event.preventDefault(); //prevent default action
            var nombre = $("#Numero_Telefono").val();
            if ($.trim(nombre) == "") {
                alert("Debe ingresar el un número de teléfono");
                return;
            }
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serializeArray(); //Encode form elements for submission
            console.log(form_data);
            LoadingOverlayShow("#frmTelefono");
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);
                LoadingOverlayHide("#frmTelefono");
                if (response.ok) {
                    alert("Teléfono creado correctamente.");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmTelefono");
            });
        });

    </script>
}