@model IEnumerable<Sistema_Planilla_CE.AspNetUserRolesCE>

@{
    ViewBag.Title = "ListarAsignacionesrolusuario";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
    .tituloCss {
        color: #3d3d29;
    }
</style>

<h2 class="tituloCss">Lista de Usuarios y roles con perfil de Persona Asignados</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-6">
        <table class="table table-bordered table-condensed table-striped" id="tablaUsuarios">
            <thead>
                <tr>
                    <th>
                        Usuarios
                    </th>
                    <th>
                        Roles
                    </th>

                    <th>
                        Nombre de la Persona
                    </th>
                    <th>Eliminar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompletoPersona)
                    </td>
                    <th class="text-center">
                        <a href="javascript:;" class="btn btn-danger btn-xs" onclick="EliminarAsignacionRolUsuario('@item.UserId', '@item.RoleId')">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </th>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $('#tablaUsuarios').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
            language: {
                search: "Buscar en tabla: ",
                lengthMenu: "Mostrar  _MENU_  entradas",
                info: "Mostrando de la entrada _START_ a la _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando de la entrada 0 a la 0 de 0  entradas",
                infoFiltered: "(filtrando de  _MAX_ entradas totales)",
                infoPostFix: "",
                loadingRecords: "Agregando entradas",
                zeroRecords: "No existen entradas disponibles para esta búsqueda",
                emptyTable: "No existe data disponible para esta tabla",

                paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                }
            }

        });


        function EliminarAsignacionRolUsuario(usuarioId, rolId) {
            $.confirm({
                title: 'Eliminar Asignación!',
                content: '¿Estás seguro de Eliminar esta Asignación?',
                buttons: {
                    Confirmar: function () {
                        LoadingOverlayShow("#divAsignar");
                        $.ajax({
                            url: "/aspnetusers/eliminarasignacionrolusuarioseg",
                            type: "post",
                            data: { usuarioId, rolId }
                        }).done(function (response) {
                            LoadingOverlayHide("#divAsignar");
                            if (response.ok) {
                                alert("Asignación eliminada correctamente.");
                                window.location = response.toRedirect;
                            }
                            else {
                                alert(response.msg);
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            LoadingOverlayHide("#divAsignar");
                        });
                    },
                    Cancelar: function () {
                    },
                }
            });
        }

    </script>
}
